<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- box -->
    <xacro:property name="box_x" value="0.29"/> <!-- box length -->
    <xacro:property name="box_y" value="0.19"/> <!-- box width -->
    <xacro:property name="box_z" value="0.124"/> <!-- box height -->
    <xacro:property name="box_mass" value="0.05"/> <!-- box mass -->

    <!-- wheels -->
    <xacro:property name="W_x" value="0.066"/> <!-- wheel axis x-offset from centre -->
    <xacro:property name="W_z" value="0.022"/> <!-- wheel axis z-offset from bottom -->
    <xacro:property name="W_y" value="0.122"/> <!-- wheel half separation -->
    <xacro:property name="W_D" value="0.065"/> <!-- wheel diameter -->
    <xacro:property name="W_h" value="0.026"/> <!-- wheel width -->
    <xacro:property name="W_mass" value="0.05"/> <!-- wheel mass -->

    <!-- casters -->
    <xacro:property name="c_x" value="0.024"/> <!-- caster centre x-offset from edge -->
    <xacro:property name="c_y" value="0.024"/> <!-- caster centre y-offset from edge -->
    <xacro:property name="c_z" value="0.049"/> <!-- caster contact z-offset from bottom -->
    <xacro:property name="c_D" value="0.016"/> <!-- caster diameter -->
    <xacro:property name="c_mass" value="0.05"/> <!-- caster mass -->

    <!-- motors -->
    <xacro:property name="m_y" value="0.04"/> <!-- motor y-offset from centre-->
    <xacro:property name="m_h" value="0.06"/> <!-- motor length -->
    <xacro:property name="m_D" value="0.02"/> <!-- motor body diameter -->
    <xacro:property name="m_l" value="0.009"/> <!-- motor coupling length -->
    <xacro:property name="m_d" value="0.011"/> <!-- motor coupling diameter -->
    <xacro:property name="m_mass" value="0.05"/> <!-- motor mass -->

    <!--lidar -->
    <xacro:property name="L_x" value="0.0"/> <!-- Lidar x-offset from box centre -->
    <xacro:property name="L_z" value="0.023"/> <!-- Lidar z-offset from box top -->
    <xacro:property name="L_D" value="0.038"/> <!-- Lidar head diameter -->
    <xacro:property name="L_h" value="0.013"/> <!-- Lidar unit height -->
    <xacro:property name="L_mass" value="0.0042"/> <!-- Lidar mass -->

    <!--camera -->
    <xacro:property name="cam_x" value="0.0"/> <!-- Camera x-offset from box front face -->
    <xacro:property name="cam_z" value="-0.03"/> <!-- Lidar z-offset from box top -->
    <xacro:property name="cam_dx" value="0.01"/> <!-- Camera box thickness -->
    <xacro:property name="cam_dy" value="0.04"/> <!-- Camera box width -->
    <xacro:property name="cam_dz" value="0.03"/> <!-- Camera box height -->
    <xacro:property name="cam_mass" value="0.002"/> <!-- Camera mass -->



</robot>